*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

h1 {
    text-align: left;
    text-shadow: 5px;
    font-size: 2rem;
    color: rgb(255, 116, 146);
    position: absolute;
    left: 2%;
    top: 1%;
    font-family: 'Bree Serif', serif;
    font-family: 'Lexend Deca', sans-serif;
    z-index: 20;
    padding: 10px;
}

.MenuInde {
    font-family: 'Courier New', Courier, monospace;
}

nav {
    max-width: 600px;
    margin: auto;
    font-size: 15px;
    margin-top: 50px;
    color: black;
}

.MenuH {
    position: absolute;
    z-index: 20;
    top: 2.5%;
    left: 33.5%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.MenuH>li>a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;

}

.MenuH>li:hover {
    background-color:rgb(228, 228, 228);
}

.MenuV {
    position: absolute;
    z-index: 20;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(255, 255, 255);
}

.MenuH li:hover .MenuV {
    display: block;
}

.MenuV li:hover {
    background-color:rgb(228, 228, 228);
}

.MenuV li a {
    display: block;
    padding: 15px 15px 15px 20px;
    text-decoration: none;

}

.medias {
    position: absolute;
    top: 1.5%;
    left: 95%;
    margin: auto;
    width: 100px;
    z-index: 20;
    padding: 10px;
}

h2{
    color: rgb(185, 131, 235);
    position: absolute;
    top: 50%;
    left: 17%;
    text-align: center;
    font-size: 5.5rem;
    font-family: 'Bree Serif', serif;
    transform: rotate(-90deg);
}

.Thing{
    position: absolute;
    left: 37%;
    top: 20%;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    width: 500px;   
}

.Thing2{
    position: absolute;
    left: 37%;
    top: 45%;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    width: 500px;   
}

.Thing3{
    position: absolute;
    left: 37%;
    top: 70%;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    width: 500px;
}

